﻿*{
    position:static;
    margin:0;
    padding:0;
    background-color:azure;
    box-sizing:border-box;
}
#wrapper{
    width: 100%;
    min-height:1024px;
}
#header{
    height:150px;
    background-color:#c2eded;
}

#content{
    min-height:1024px;
    display:flex;
}

#footer{
}

#left-panel{
    position:relative;
    width:20%;
    overflow:hidden;
    margin-right:10px;
}

#content-details {
    position: relative;
    width: 80%;
    display: none;
}

.item {
    min-width:30px;
    width:100%;
    margin-bottom:5px;
    background-color:#97ccc2;
}

#details {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

#recipeImg {
    width: 300px;
    height: 300px;
}
#line{
    height:3px;
    width:100%;
    background-color:black;
}

.content-wraper {
    margin: 10px auto;
    margin-top:0;
    width: 100%;
    display: block;
}