﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/Styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/Main.js"></script>
    <title>Index</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="~/img/header.png" width="150" height="150" />
        </div>
        <div id="line"></div>
        <div id="content">
            <div id="left-panel">
                <h3>Блюда</h3>
            </div>
            <div id="content-details">
                <div class="content-wraper">
                    <h3>Рецепт</h3>

                    <img id="recipeImg" src="" />
                    <div id="details">

                    </div>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
